<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Camps</title>


  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <script src="https://d3js.org/d3.v5.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>
  <div class="container">
    <nav class="navbar">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="/upload">Load Data</a>
        </li>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LINKS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
                        <a class="dropdown-item" href="https://www.nps.gov/aboutus/index.htm">National Park Service</a>
                        <a class="dropdown-item" href="https://www.rei.com/learn/expert-advice/family-camping-checklist.html">Learn Camping</a>
                        <a class="dropdown-item" href="https://www.campsitephotos.com/">Photos</a>
                    </div>
      </ul>
      <div class="clearfix"></div>
    </nav>
    <header class="header">
      <h1>US Camp Grounds</h1>
    </header>

    <div class="container">
      <main>
        <section class="posts">
          <article class="post">
            <h3>National Park Service Information</h3>
            <p>"National parks are the best idea we ever had. Absolutely American, absolutely democratic, they reflect
              us at our best rather than our worst." You'll find photos and essential information about NPS sites
              including visitor centers, campgrounds, events, news, alerts, and more, as well as detailed articles about
              NPS natural and cultural features and important people and places.
            </p>
          </article>
        </section>
      </main>


      <div class="column left">
.
      </div>

      <div class="column middle">
        <div id="map"></div>
      </div>

      <div class="column right">

      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js')}}"></script>


</body>

</html>