<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Camps</title>


  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>
  <div class="container">
    <nav class="navbar">
      <ul>
        <li>
          <a href="http://127.0.0.1:5000/">Home</a>
        </li>
        <li>
          <a href={{data.URL}}>Website</a>
        </li>

      </ul>
      <select id="nav-select">
        <option value="home">Home</option>
        <option value="about">About</option>
      </select>
      <div class="clearfix"></div>
    </nav>
    <header class="header">
      <h2>{{data.Name}}</h2>
      <h3></h3>
    </header>


    <div class="column left">
      <div class="borderexample">
        <h4><b>Weather Conditions:</b></h4>
        <p><b>Max Temperature:</b> {{data.Max_temp}} F</p>
        <p><b>Min Temperature:</b> {{data.Min_temp}} F</p>
        <p><b>Humidity:</b> {{data.Humidity}} %</p>
        <p><b>Cloudiness:</b> {{data.Cloudiness}} %</p>
        <p><b>Wind Speed:</b> {{data.Wind_Speed}} mph</p>
      </div>
    </div>

    <div class="column middle">
<br>
      <div class="container-map">
         <main>
          <section class="posts">
            <div id="map2"></div>
              <a data-infolat="{{data.lat}}"></a>
              <a data-infolon="{{data.lon}}"></a>

          </section>
        </main>
      </div>
    </div>
    <div class="column right">

      <div class="borderexample">
        <h4><b>Description of Campsite:</b></h4>
        <p>{{data.Description}}</p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/logic2.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/logicapi.js')}}"></script>

</body>

</html>