<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Camps</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <!-- Normalize Style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">US Map</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Links</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="https://www.nps.gov/aboutus/index.htm">National Park Service</a>
        <a class="dropdown-item" href="https://www.rei.com/learn/expert-advice/family-camping-checklist.html">Learn Camping</a>
        <a class="dropdown-item" href="https://www.campsitephotos.com/">Photos</a>
      </div>
    </li>
  </ul>
  <div class="container-fluid">
    <div id="page-holder">
      <h1>National Park Service Information</h1>
      <p>National parks are the best idea we ever had. Absolutely American, absolutely democratic, they reflect
        us at our best rather than our worst." You'll find photos and essential information about NPS sites
        including visitor centers, campgrounds, events, news, alerts, and more, as well as detailed articles about
        NPS natural and cultural features and important people and places.</p>
      <div class="row">
        <div class="col-sm-12 text-light bg-light" id="map-holder">NPS<div id="map"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- LEAFLET -->
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js')}}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>