<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>US Camps</title>
  
  
  <!-- Leaflet CSS -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
     integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
     crossorigin="" />

   <!-- Leaflet JavaScript code -->
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
     integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
     crossorigin=""></script>
  
  <script src="https://d3js.org/d3.v5.min.js"></script>

    
  <!-- D3 library -->
  <!-- <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
 
</head>

<body>
  <!-- <div class="container-fluid">
    <div class="jumbotron bg-info text-center">
      <h1>US CAMPS</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h1 class="display-5 text-info">MAP</h1> -->
 
    <div id="map"></div>
    
    <h3 >{{camp.Latitude[1], camp.Longitude[1] }}</h3>
    
    <!-- <div class="row">


  </div>
    <br>
 
      <h3 class="display-5 text-info">Mars Hemispheres</h3>
  -->
    
  <!-- </div> -->



<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script> -->

  <!-- <script src="/static/js/logic.js"></script> -->
   <script type="text/javascript" src ="{{ url_for('static', filename='js/logic.js')}}"></script>

</body>

</html>
